body {
  margin: 20px;
  background-color: lightgray;
}

.wrapper {
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  border: 50px solid #868e96;
  background-color: rgb(118, 255, 255);
  margin-bottom: 50px;
  margin-right: 80px;
  display: inline-block;
}

.box2 {
  width: 200px;
  height: 200px;
  border: 50px solid #868e96;
  background-color: rgb(118, 255, 255);
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  padding: 50px;
}
